/*------------------------------------------------------------------------------------------------------------------------
 
 @package: Sadaka
 @author: Ouarmedia/Farouk BLALOU
 @version: 1.0
 
 --------------------------------------------------------------------------------------------------------------------- */


/* =============================================================================
  Base
========================================================================== */

body {
  font-family: "Lato", sans-serif;
  color: #1a1a1a;
  background: #f9fafc;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: inherit;
}


/* =============================================================================
  Layout
========================================================================== */


/* Header 
================================= */

.navbar-static-top {
  margin: 0;
  border: 0;
  color: #fff;
  width: 100%;
  top: 0;
  position: fixed;
}

.navbar-top {
  background: #06be95;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.navbar-top .list-inline {
  margin-bottom: 0;
}

.navbar-top .header-social a {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.navbar-top .header-social a:hover {
  color: #1a1a1a;
}

.footer-bottom .header-social a:hover {
  color: #06be95;
}

.navbar-top .header-contact li {
  margin-right: 15px;
}

.navbar-top .header-contact li .fa {
  margin-right: 5px;
}

.navbar-main {
  margin-bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.navbar-main .navbar-brand {
  border-bottom: none !important;
}

.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a:focus,
.navbar-main a.is-active {
  background: none !important;
  color: inherit;
  border-bottom: 2px solid #fff;
}

.navbar-main .submenu {
  position: absolute;
  list-style: none;
  background: #06be95;
  padding: 0;
  width: 150px;
  left: -35px;
  visibility: hidden;
  top: 85px;
  -moz-transition: all, 0.05s;
  -o-transition: all, 0.05s;
  -webkit-transition: all, 0.05s;
  transition: all, 0.05s;
}

.navbar-main .submenu li {
  border-top: 1px solid #06be95;
}

.navbar-main .submenu li:hover {
  background: #06be95;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.navbar-main .submenu li a {
  width: 100%;
  border-bottom: none;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
}

.navbar-main li a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 20px 15px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
}

.navbar-main li:hover .submenu {
  top: 62px;
  visibility: visible;
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s;
}

.navbar-main .icon-bar {
  background: #fff;
}

.navbar-main li .btn-teal {
  padding: 4px 10px;
  font-weight: 500;
}


/* Home Slider 
================================= */

#homeCarousel {
  margin-top: 3em;
}

.carousel-home img {
  width: 100%;
}

.carousel-home .carousel-control {
  background: transparent;
  height: 80px;
  width: 40px;
  top: 50%;
  margin-top: -40px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
}

.carousel-home .carousel-control .fa {
  font-size: 2.5em;
  padding-top: 12px;
}

.carousel-home .carousel-control:hover {
  width: 50px;
}

.carousel-home .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.carousel-home .carousel-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-home .carousel-subtitle {
  font-size: 25px;
  text-transform: uppercase;
}

.carousel-home a.btn {
  margin-top: 30px;
}

.section-home {
  margin: 30px 0;
}


/* home/ about-us 
================================= */

.about-us {
  margin: 30px 0;
}

.about-us-col {
  text-align: center;
  background: #fff;
  color: #1a1a1a;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.02);
}

.about-us-col:hover {
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.06);
}

.about-us-col .col-icon-wrapper {
  max-height: 400px;
  position: relative;
  overflow: hidden;
}

.about-us-col .col-icon-wrapper img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.about-us-col .col-icon-wrapper:hover img {
  transform: scale(1.04);
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.about-us-col .col-title {
  font-size: 20px;
  font-weight: 300;
  color: #1a1a1a
}

.about-us-col .col-details {
  padding: 12px 26px 26px 26px;
}

.about-us-col .col-details p {
  color: #666;
  font-weight: 500;
  font-family: Montserrat;
}

.about-us-col .col-details p span {
  color: #00a17e;
}

.about-us-col .col-details a {
  margin-top: 0.5em;
}

.about-us-col .col-details a:first-child {
  margin-right: 10px;
}

.about-us-col .col-details a i {
  margin-right: 2px;
}

.about-us-col .col-more {
  margin-top: 24px;
}


/* home/reasons 
================================= */

.home-reasons {
  margin: 4em 0;
}

.reasons-col {
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}

.reasons-col img {
  width: 100%;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.reasons-col .reasons-titles {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(0, 144, 112, 0.8);
  width: 100%;
  color: #fff;
  padding: 4px;
}

.reasons-col .reasons-titles:hover {
  background: rgba(0, 0, 0, 0.7);
}

.reasons-col .reasons-title {
  font-size: 1.4em;
  margin: 8px 0 4px 0;
  text-transform: uppercase;
}

.reasons-col .reasons-subtitle {
  margin: 6px;
}

.reasons-col .on-hover {
  position: absolute;
  top: 0;
  bottom: 125px;
  width: 100%;
  padding: 25px;
  color: #fff;
  text-align: justify;
  background: rgba(31, 118, 189, 0.9);
  border-bottom: 1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.reasons-col:hover .on-hover {
  visibility: visible;
  opacity: 1;
  padding: 50px;
  -moz-transition: all, 1s;
  -o-transition: all, 1s;
  -webkit-transition: all, 1s;
  transition: all, 1s;
}

.reasons-col:hover img {
  -moz-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  -webkit-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
}


/* home/causes
================================= */

.cause {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border: 1px solid #06be95;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.cause .cause-progress {
  margin: 0 10px 15px;
  border: 1px solid #06be95;
  border-radius: 3px;
}

.cause .cause-progress .progress-bar {
  background: #06be95;
  box-shadow: none;
}

.cause .cause-img {
  margin-bottom: 15px;
  width: 100%;
}

.cause .cause-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.cause .cause-details {
  text-align: justify;
  padding: 0 15px;
  font-size: 13px;
  margin-bottom: 15px;
  min-height: 115px;
}

.cause:hover {
  background: #f0f0f0;
  color: #144d7b;
  border-color: #144d7b;
}


/* Team 
================================= */

.team-member {
  background: #06be95;
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
  border: 1px solid #06be95;
}

.team-member .thumnail img {
  width: 100%;
}

.team-member .member-name {
  font-weight: bold;
}

.team-member .member-position {
  padding: 0 15px 5px;
}


/* footer 
================================= */

.main-footer {
  background: #1a1a1a;
  color: #666;
}

.main-footer .footer-main {
  padding: 30px 0;
}

.main-footer .footer-title {
  text-transform: uppercase;
  margin-bottom: 1.6em;
  color: #fff;
}

.main-footer .footer-title .title-under {
  background: #fff;
  margin: 15px 0;
  text-align: left;
}

.main-footer .footer-title .title-under:after {
  margin: 0;
  background: #fff;
}

.main-footer .footer-content {
  text-align: justify;
  font-size: 13px;
}

.main-footer .tweet {
  font-size: 13px;
}

.main-footer .tweet:after {
  content: "";
  height: 1px;
  display: block;
  background: #115c9b;
  width: 150px;
  margin: 15px auto;
}

.main-footer .tweet:last-child:after {
  display: none;
}

.footer-form .form-group {
  margin-bottom: 5px;
}

.footer-form .form-control {
  margin-bottom: 1em;
  resize: none;
}

.footer-form .btn-submit {
  background-color: #06be95;
  color: #fff;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.footer-form .btn-submit:hover {
  background: #444;
}

.footer-bottom {
  padding: 2em 0 1em 0;
  background-color: #222;
}


/* Pages 
================================= */

.page-heading {
    background: url(../images/bg-quote.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    padding: 7em 2em 4em 2em;
    margin-top: 3em;
    margin-bottom: 50px;
}

.page-heading .title-under {
  background: #fff;
}

.page-description {
  font-size: 18px;
}

.main-container {
  margin-bottom: 50px;
}


/* Pages/Gallery 
================================= */

.gallery-item {
  padding: 0;
  display: block;
  margin: 0;
}

.gallery-item img {
  width: 100%;
}

.contact-items {
  margin-top: 30px;
}

.contact-items .contact-item {
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 16px;
}

.contact-items .contact-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #06be95;
  vertical-align: middle;
  margin-right: 10px;
  color: #fff;
  text-align: center;
}

.contact-items .contact-icon .fa {
  vertical-align: sub;
  font-size: 20px;
  margin-top: 7px;
}


/* contact 
================================= */

.contact-map {
  height: 350px;
  background: #ccc;
}

form .alert {
  display: none;
}


/* Causes 
================================= */

.cause-carousel {
  margin-top: 15px;
  margin-bottom: 30px;
}


/* =============================================================================
	Module
========================================================================== */

.btn-primary {
  color: #777;
  background: #fff;
  border-radius: 0;
  padding: 10px 22px;
  border: 1px solid #777;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-primary:hover {
  background: transparent;
  border: 1px solid #06be95;
}

.btn-primary:focus {
  background: transparent;
  border: 1px solid teal;
}

.btn-secondary {
  background: transparent;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 0;
  transition: all, 0.3s;
}

.btn-secondary:focus {
  background: #00654f;
  color: #fff;
}

.title-style-1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin: 1em 0;
  color: #1a1a1a;
}

.title-style-1 span {
  color: #06be95;
}

.title-style-2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 25px;
  color: #1a1a1a;
}

.title-style-2 span {
  color: #06be95;
}

.title-style-2 .title-under {
  display: block;
  margin: 5px 0;
}

.title-style-2 .title-under:after {
  margin: 0;
  margin-top: 10px;
}

.title-under {
  display: block;
  margin: 5px auto;
  background: #06be95;
  height: 1px;
  width: 280px;
}

.title-under:after {
  content: '';
  display: block;
  width: 100px;
  background: inherit;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}


/* Modal
================================= */

.form-control {
  box-shadow: none;
}


/* Tabeles
================================= */

.table-style-1 thead {
  background: #06be95;
  border-bottom: 1px solid #144d7b;
  color: #fff;
}

.table-style-1 td,
.table-style-1 th {
  border-bottom: 1px solid #06be95;
}

.table-style-2 thead {
  background: #115c9b;
  border-bottom: 1px solid #144d7b;
  color: #fff;
}

.table-style-2 tbody tr:nth-child(even) {
  background: #06be95;
  color: #fff;
}

.table-style-2 td,
.table-style-2 th {
  border-bottom: 1px solid #06be95;
}


/* Tabs
================================= */

.nav-tabs {
  border-bottom-color: #06be95;
  margin-bottom: 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background: #06be95;
  color: #fff;
}

.nav-tabs>li>a {
  border-radius: 0;
}

.nav-tabs>li>a:hover {
  border-color: #06be95;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background: #115c9b;
  color: #fff;
}


/* Accordion
================================= */

.panel-default {
  border-color: #06be95;
  border-radius: 0;
}

.panel-default>.panel-heading {
  background: #06be95;
  color: #fff;
}

.panel-default>.panel-heading:hover {
  background: #115c9b;
}


/* Modal
================================= */

.modal .modal-content {
  border-radius: 0;
}

.modal .modal-header {
  background: #06be95;
  color: #fff;
}

.modal .modal-header .close {
  font-style: 26px;
}

.lightbox {
  position: relative;
  display: block;
  overflow: hidden;
}

.lightbox img {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.lightbox .on-hover {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  color: #fff;
  background: rgba(28, 175, 160, 0.75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  -webkit-transition: all, 0.6s;
  transition: all, 0.6s;
}

.lightbox .on-hover .hover-caption {
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 5px;
  right: 5px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  font-family: "Montserrat", sans-serif;
  bottom: -50px;
  -moz-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  -webkit-transition: all, 0.6s;
  transition: all, 0.6s;
}

.lightbox .on-hover:before {
  content: "";
  display: block;
  width: 46px;
  height: 48px;
  position: absolute;
  background: url('../images/icons/zoom-icon.png?1428101315');
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -24px;
}

.lightbox:hover .on-hover {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.lightbox:hover .on-hover .hover-caption {
  bottom: 25px;
}

.lightbox:hover img {
  -moz-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
  -webkit-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
  transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
}


/* Ow carousel
================================= */

.owl-next,
.owl-prev {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  border: 2px solid;
  text-align: center;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.owl-next:hover,
.owl-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.owl-next {
  left: auto;
  right: 0;
}


/* =============================================================================
	Responsive
========================================================================== */


/* Large devices (large desktops, 1200px and Down) */

@media (max-width: 1200px) {
  .about-us-col {
    padding: 15px;
  }
  .reasons-col:hover .on-hover {
    padding: 15px;
  }
  .reasons-col:hover .on-hover {
    padding: 25px;
  }
}


/* Medium devices (desktops, 992px and Donw) */

@media (max-width: 992px) {
  .carousel-home .carousel-title {
    font-size: 36px;
  }
  .carousel-home .carousel-subtitle {
    font-size: 18px;
  }
  .carousel-home a.btn {
    margin-top: 15px;
  }
  .about-us-col {
    margin-bottom: 25px;
  }
  .team-member {
    margin-bottom: 25px;
  }
  .reasons-col {
    margin-bottom: 25px;
  }
  .footer-col {
    margin-bottom: 50px;
  }
}


/* Small devices (tablets, 994px and Down) */

@media (max-width: 994px) {
  .header-contact {
    text-align: center;
  }
  .header-contact li {
    margin: 0 !important;
  }
  .header-social {
    text-align: center;
  }
  .navbar-main #navbar {
    float: none !important;
  }
  .navbar-main #navbar a {
    border-bottom: none;
  }
  .navbar-main .navbar-brand {
    padding: 6px 15px;
  }
  .navbar-main .submenu {
    position: initial;
    display: none;
    width: 100%;
  }
  .navbar-main li:hover .submenu,
  .navbar-main li:active .submenu,
  .navbar-main li:focus .submenu {
    display: block;
  }
  .navbar-main li:hover .submenu li,
  .navbar-main li:active .submenu li,
  .navbar-main li:focus .submenu li {
    background: #115c9b;
    border-top-color: #06be95;
  }
  .carousel-home .carousel-title {
    font-size: 32px;
  }
  .carousel-home .carousel-subtitle {
    font-size: 16px;
  }
  .carousel-home .carousel-control {
    background: transparent;
    height: 40px;
    width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .carousel-home .carousel-control .fa {
    font-size: 1.5em;
    padding-top: 4px;
  }
  .col-form {
    margin-bottom: 25px;
  }
}


/* Extra Small devices (tablets, 480px and Down) */

@media (max-width: 480px) {
  .carousel-home .carousel-title {
    font-size: 16px;
    margin: 0;
  }
  .carousel-home .carousel-subtitle {
    font-size: 14px;
    margin: 0;
  }
  .carousel-home .carousel-indicators {
    bottom: 0;
  }
}


/* =============================================================================
	Animations
========================================================================== */

.animate-onscroll {
  visibility: hidden;
}

.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.animated.fadeIn {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}


/* customize */

.list-inline>li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.custom-logo {
  height: 22px;
  margin-top: 6px;
}

.progress-bar {
  background-color: #06be95;
}

.flickr_badge_image {
  margin: 0px;
  display: inline;
}

.flickr_badge_image img {
  border: 0px solid #666666 !important;
  padding: 1px;
  margin: 2px;
}

#flickr_badge_wrapper {
  width: 100%;
}

.hvr-bounce-to-right:before {
  background-color: #06be95;
}

.form-donation {
  color: #1a1a1a;
}

.quote {
  min-height: 150px;
  background: 
    linear-gradient(
      rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.5)
    ), 
    url('../images/bg-quote.jpg');
  color: #fff;
  vertical-align: middle;  
  padding: 2.5em 1em;
  text-align: center;
}
.quote i { font-size: 6em; }
.quote h3 {
  font-family: "Lato", sans-serif;
}
.quote span {
  font-size: 1.2em;
  font-weight: bold;
}
.btn-teal {
    margin-top: 1em;
    background-color: #06be95;
    border-color: #06be95;
    font-weight: 600;  
    color: #fff;
}
.btn-teal:hover, .btn-teal:focus { 
  background-color: #00af88; 
  border-color: #00af88;
  color: #fff;
}

.bg-trans {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 0;
}

.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  color: #e74c3c;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}
@-webkit-keyframes love {
  to {-webkit-transform: scale(1.1);}
}
@-moz-keyframes love {
  to {-moz-transform: scale(1.1);}
}
@keyframes love {
  to {transform: scale(1.1);}
}

#donasi { padding-top: 6em; }